aside.aside
  .tel
      -
        var tel = [
          ['#', 'flagmans', 'Флагманы'],
          ['#', 'budget', 'Бюджетная линейка']]
      ul.tel__list
        each item in tel
          li.tel__item
            a(href="#{item[0]}" class="tel__#{item[1]}").tel__link= item[2]
  form.aside-form

    .shop.aside-form-block
      h3.shop__title.aside-form-title Наличие в магазинах
      -
        var shopItem = [
          ['Во всех магазинах', 'all-shop'],
          ['В ближайшем ко мне магазине', 'my-shop']
        ]
      each item in shopItem
        .shop__radio(class="#{item[1]}")= item[0]
      input.shop__input(type="hidden")


    .brends.aside-form-block
      h3.brends__title.aside-form-title Бренды
      -
        var brendsItem = [
          ['Lenovo', 'lenovo'],
          ['Apple', 'apple'],
          ['Samsung', 'samsung'],
          ['Asus', 'asus'],
          ['Motorola', 'motorola']
        ]
      each item in brendsItem
        .brends__check=item[0]
          input.brends__input.hidden(type="checkbox" id="#{item[1]}")
      a(href="#").brends__link Сбросить фильтр


    .cost.aside-form-block
      h3.cost__title.aside-form-title Цена
      .cost__box
        span от
        input(type="text")
        span до
        input(type="text")
        .cost__line


    .color.aside-form-block
      h3.color__title.aside-form-title Цвет
      -
        var colorItem = [
          ['#', 'white', 'Белый'],
          ['#', 'gray', 'Серый'],
          ['#', 'black', 'Черный'],
          ['#', 'd-blue', 'Синий'],
          ['#', 'red', 'Красный'],
          ['#', 'yellow', 'Желтый'],
          ['#', 'biscuit', 'Св.коричн.'],
          ['#', 'green', 'Зеленый'],
          ['#', 'blue', 'Синий'],
          ['#', 'purple', 'Фиолетовый'],
          ['#', 'pink', 'Розовый'],
          ['#', 'brown', 'Коричневый']
        ]
      ul.color__list
        each item in colorItem
          li.color__item
            a(href='#{item[0]}' class='color__link--#{item[1]}').color__link= item[2]


    .os.aside-form-block
      h3.os__title.aside-form-title Операционные системы
      -
        var osItem = [
          ['Android', 'android'],
          ['iOs', 'ios'],
          ['Windows Mobile', 'win-mob'],
          ['Symbian', 'symbian'],
          ['Custom', 'custom']
        ]
      each item in osItem
        .os__check=item[0]
          input.os__input.hidden(type="checkbox" id="#{item[1]}")
      a(href="#").os__link Сбросить фильтр


